.icon-up-temparature {
  background: url(../../assets/images/up-temparature.svg) no-repeat center center;
  background-size: 100%;
  height: 2.75vw;
  width: 2.75vw;
  display: inline-block;
}

.icon-down-temparature {
  background: url(../../assets/images/down-temparature.svg) no-repeat center center;
  background-size: 100%;
  height: 2.75vw;
  width: 2.75vw;
  display: inline-block;
}
.icon-dots {
  background: url(../../assets/images/dots.svg) no-repeat center center;
  background-size: 100%;
  height: 2.75vw;
  width: 2.75vw;
  display: inline-block;
}
