@import './variables';
@import './reset';
@import './icons';
@import './mixin';

// page
@import './weather';

html , body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $poppins-font;
  font-size: 16px;
  color: $text-default;
}
