@import './variables';
@import './reset';
@import './icons';
@import './mixin';

// page
@import './weather';

html , body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $poppins-font;
  font-size: 16px;
  color: $text-default;
}

.blue-text {
  color: $blue-1 !important;
}
.yellow-text {
  color: $yellow-1 !important;
}
.black-text {
  color: $black-1 !important;
}
